@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  position: relative;
}

.grip-1 {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  color: aliceblue;
  position: relative;
  width: 100%;
}

.grip-2 {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  width: 100%;
  position:absolute;
  top: 0;
}

.grid-item {
  color: aliceblue;
  border: 1px solid #c9d2e5;
}

.drag {
  border: 2px solid red;
}

.drop {
  border: 2px solid #c9d2e5;
}

.item {
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: #c9d2e5;
  border-radius: 1rem;
}

.avatar {
  width: 20%;
}

.avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.content{
  width: 80%;
  padding: 5px;
  color: burlywood;
  font-weight: bold;
}